<ion-header [translucent]="true">
  <ion-toolbar>
    Tus Datos
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input label="Nombre" formControlName="email" id="email" placeholder="Ingrese el usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" type="password" formControlName="password" id="password" placeholder="Ingrese contraseña" ></ion-input >
    </ion-item>
    <ion-item>
      <ion-button type="submit">Ingresar</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="logout()">Cerrar Sesion</ion-button>
    </ion-item>
    
  </form>


</ion-content>  
