<ion-header [translucent]="true">
  <ion-toolbar>
    Tus Datos
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-input label="Nombre" placeholder="Juan Perez"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Email" placeholder="juanperez@gmail.com"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Contraseña" placeholder="********"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Tarjeta de Credito" value="5370 6474 6446 4747" [disabled]="true"></ion-input>
  </ion-item>

</ion-content>
