<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Escanea el QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-button *ngIf="ingreso==0 " expand="block" (click)="scanQRCode()">ingresar ahora</ion-button>
  <ion-title>Tu id de usuario: {{usuario}}</ion-title>
  <ion-title *ngIf="ingreso!=0">Tu id de ingreso: {{ingreso}}</ion-title>
  <ion-title *ngIf="ingreso!=0">Estas en la Parcela: {{code}}</ion-title>

  <ion-title>usuario ubi</ion-title>
  <ion-title>coordenadas: {{ubiActual?.lat}}</ion-title>
  <ion-title>coordenadas: {{ubiActual?.long}}</ion-title>

  <ion-title>parcela ubi</ion-title>
  <ion-title>coordenadas: {{ubiParcela?.lat}}</ion-title>
  <ion-title>coordenadas: {{ubiParcela?.long}}</ion-title>



  <ion-button *ngIf="ingreso!=0 " expand="block" (click)="scanQRCodeSalida()">salir ahora</ion-button>
  <ion-button expand="block" (click)="compararUbicaciones()">ubicacion</ion-button>

  
</ion-content>

